<header class="header">
  <!-- HEADER AVEC MENU DÉROULANT -->
  <div class="container nav-container">
    
    <div class="logo">
      <span>Annabelle Néraudeau</span><br>
      <small>Chiropracteur à La Rochelle</small>
    </div>
    
    <nav class="nav" id="nav">
      <a href="index.html">Accueil</a>
      <a href="pages/chiropratique.html">La Chiropratique</a>
      <a href="pages/qui-suis-je.html">Qui suis-je ?</a>
      <a href="pages/tarifs.html">Tarifs et consultations</a>
      <a href="pages/contact.html">Accès et contact</a>
    </nav>
    
    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
  </div>
  </header>